{% extends 'admin_base.html.twig' %}

{% block body %}

    <div class="float-right mb-4">
    <a href="{{ path('admin_edit_training', {'id': training.id}) }}" class="btn btn-xs btn-warning mt-1"><i class="fa fa-pencil"></i> Edit</a>
    <a href="{{ path('admin_delete_training', {'id': training.id}) }}" class="btn btn-xs btn-danger mt-1"><i class="fa fa-pencil"></i> Delete</a>
    </div>

    <div class="clearfix"></div>
    <div class="card">
        <div class="card-header bg-dark font-white p-3 font-sm-4">
            {{ training.title }}
        </div>
    <div class="card-body ">
        <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Sessions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Financials</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-participants-tab" data-toggle="pill" href="#pills-participants" role="tab" aria-controls="pills-participants" aria-selected="false">Participants/MDAs</a>
            </li>
        </ul>
    </div>


    </div>



    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            {% include 'common/admin/training_details.html.twig' %}
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            {% include 'common/admin/training_session.html.twig' %}
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            {% include 'common/admin/training_financials.html.twig' %}
        </div>
        <div class="tab-pane fade" id="pills-participants" role="tabpanel" aria-labelledby="pills-contact-tab">
            {% include 'common/admin/training_participant.html.twig' %}
        </div>
    </div>






{% endblock %}