{% extends 'admin_base.html.twig' %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h4>Add Training</h4>
        </div>
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}