{% extends 'admin_base.html.twig' %}

{% block body %}


  <div class="row">

    <div class="col-md-12">

        <div class="card">

            <div class="card-header bg-dark font-white">
                <h4>Register participants for training</h4>
            </div>

            <div class="card-body">

                <form method="POST">

                    <div class="row">
                    <div class="form-group col-md-4">
                        <label>MDA</label><br>
                        <select name="mda" class="form-control bg-gray">
                            {% for mda in mdas %}
                                <option value="{{ mda.id }}">{{ mda.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label>Training</label><br>
                        <select name="training" class="form-control">
                            {% for training in trainings %}
                                <option value="{{ training.id }}">{{ training.title }}</option>
                                {% endfor %}
                        </select>
                    </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary">Submit</button>
                    </div>

                </form>

            </div>
        </div>

    </div>




  </div>


{% endblock %}