{% extends 'admin_base.html.twig' %}

{% block body %}


  <div class="row">

    <div class="col-md-6 mx-auto">

        <div class="card">

            <div class="card-header bg-dark font-white">
                <h4>Edit participant</h4>
            </div>

            <div class="card-body">

            {{ form(form) }}

            </div>
        </div>

    </div>




  </div>


{% endblock %}