{% extends 'access_base.html.twig' %}

{% block content %}

    <div class="row p-4">



        <div class="col-lg-5 mx-auto">



            <div class="p-4">
                <h4 class="mb-5">Reset Password</h4>
                {{ form(form) }}

                <div class="text-center p-3">
                <a href="{{ path('login') }}">Click here to Login</a>
                </div>

                <p class="hline font-xs font-gray mb-4 mt-4"> OR </p>

                <p class="text-center">Click <a href="{{ path('verify_mda') }}">here</a> to register as an MDA Admin</p>

            </div>

        </div>

    </div>

{% endblock %}