{% extends 'base.html.twig' %}

{% block body %}

    {% include 'common/nav.html.twig' %}


    <div class="container mt-5 p-5">
    {% block content %} {% endblock %}
    </div>



{% endblock %}



