<footer class="bg-dark font-white">
    <div class="container p-5 text-center">

        <p>&copy; {{ "now"|date('Y') }}. Federal Character Commission of Nigeria</p>

        <b>Metrics:</b>

        <div class="col-sm-3 text-left mx-auto">
        <div class="row">

            <div class="col-sm-12">

                <div class="powr-hit-counter" id="11e3b9ae_1523075602"></div>
                <div class="powr-popup" id="be4fb4df_1523076446"></div>
            </div>
            {#<div class="col-sm-2">#}
                {#{{ visitor_metrics.total_visits }}#}
            {#</div>#}

            {#<div class="col-sm-10">#}
                {#Visits today:#}
            {#</div>#}
            {#<div class="col-sm-2">#}
                {#{{ visitor_metrics.visit_today }}#}
            {#</div>#}

            {#<div class="col-sm-10">#}
                {#Unique visitors:#}
            {#</div>#}
            {#<div class="col-sm-2">#}
                {#{{ visitor_metrics.unique_visits }}#}
            {#</div>#}

        </div>
        </div>


    </div>
</footer>


