{% extends 'base.html.twig' %}

{% block body %}



    <nav class="navbar navbar-expand-sm bg-dark navbar-dark py-0 bg-primary navbar-expand-lg py-md-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse dual-nav">

        </div>
        <a href="/" class="navbar-brand mr-0">//Project Cornerstone.</a>
        <div class="navbar-collapse collapse dual-nav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-twitter"></i></a></li>
                <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-github"></i></a></li>
            </ul>
        </div>
    </nav>
    <div class="container p-5">
    {% block content %} {% endblock %}
    </div>

    <div class="border_top">

        <div class="container p-3 text-primary">
            Copyright &copy; 2017
        </div>

    </div>

{% endblock %}



