{% extends 'base.html.twig' %}

{% block body %}

    {% include 'common/nav.html.twig' %}


    <div class="container mt-5 p-5">
    {% block content %} {% endblock %}
    </div>

    <div class="border_top">

        <div class="container p-3 text-primary">
            Copyright &copy; 2017
        </div>

    </div>

{% endblock %}



