<div class="row">

    <div class="col-lg-3 col-md-6 col-6">
        <div class="card">
            <div class="card-header bg-dark font-white">
                <h4>Participants</h4>

            </div>
            <div class="card-body text-center">
                <h2 class="font-lg m-0">{{ count_participant }}</h2>
            </div>
        </div>
    </div>


</div>


<div class="card">
    <div class="card-header  align-items-center">
        <h4>All Participants</h4>

    </div>
    <div class="card-body">

        <table id="example" class="datatable table display table-bordered table-striped table-hover" cellspacing="0" width="100%">
            <thead >
            <tr>
                <th>Participant</th>
                <th>MDA code</th>
                <th>Amount paid</th>
                <th>Payment method</th>
                <th>Payment status</th>
                <th>Payment date</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            {% for participant in training_participants %}
                <tr>
                    <td>{{ participant.participant }}</td>
                    <td>{{ participant.mda }}</td>
                    <td></td>
                </tr>

            {% endfor %}
            </tbody>
        </table>

    </div>
</div>