{% extends 'user_base.html.twig' %}

{% block body %}

    <!-- Page Header-->
    <header class="page-header">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">{{ page_title }}</h2>
        </div>
    </header>

    <div class="p-5">
        dsdsd
    </div>

{% endblock %}